name: Release

on:
  release:
    types: [created]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Set up Python
      uses: actions/setup-python@master
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        pip3 install --upgrade setuptools pip
        pip3 install --upgrade wheel twine
        pip3 install ".[all]"
    - name: Run unit tests and linters
      env:
          SKIP_LIGHTGBM: False
      run: |
        pytest
    - name: Build package & publish to PyPi
      env:
        TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
        TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      run: |
        python3 setup.py sdist bdist_wheel
        twine upload dist/*
    - name: Deploy mkdocs site
      run: | 
        mkdocs gh-deploy --force
